@model ReceiverViewModel
@{
	ViewData["Title"] = @Model.Title;
	ViewData["Auth"] = @Model.AuthTokens;

}

<h2>@Model.Title</h2>
@* make a table *@
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Receiver Name</th>
			<th>Receiver Address</th>
			<th>Receiver City</th>
			<th>Receiver State</th>
			<th>Receiver Zip</th>
			<th>Receiver Country</th>
			<th>Receiver Phone</th>
			<th>Receiver Email</th>
			<th>Receiver Notes</th>
			<th>Receiver Created</th>
			<th>Receiver Updated</th>
		</tr>
	</thead>
</table>

@* js to save auth tojen as a cookie *@
<script>
	// save the auth token to a cookie stringified
	var auth = '@Html.Raw(Json.Serialize(ViewData["Auth"]));';
	document.cookie = "auth=" + auth;
</script>